$panel-background: rgba(255, 255, 255, 0.5);
$label-background: #6C7A89;
$tag-width: 175px;
.dashboard {
    .map {
        height: 400px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {}
