<div class="dashboard">
    <div class="container">
        <div class="row padding-top padding-bottom">
            <div class="col-md-12">
                <div id="map_canvas" ui-map="model.myMap" class="map" ui-options="mapOptions">
                </div>
            </div>
        </div>
        <div class="row padding-top padding-bottom">
            <div class="col-md-12" ng-show="showResult()">
                <div>Latitude: {{lat}}</div>
                <div>Longitude: {{lng}}</div>
                <div>Accuracy: {{accuracy}}</div>
            </div>
            <div class="col-md-12" ng-show="!showResult()">
                Error : {{error}} Error Code: {{error.code}}
            </div>
        </div>
        <div class="row padding-top padding-bottom" ng-show="weatherData !== null">
            <div class="col-md-12">
                <div>{{weatherData.humidity}}</div>
                <div>{{weatherData.pressure}}</div>
                <div>{{weatherData.temp}}</div>
                <img ng-src="{{weatherData.icon}}">
            </div>
        </div>
    </div>
</div>
